body > #root > div {
    height: 100vh;
  }

  header{
    --color: hsl(216, 44%, 25%);
    color: white;
    background-color:inherit;
    margin-bottom: 50px;
    text-align: center;
    width:100%;
    height: 100%;
  }

  .record-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    background-color: inherit;

  }

  .row {
    margin-right: 0px !important;
    margin-left: 0px !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }

  .btn-primary, .mb-3{
    background-color: inherit !important;
    padding: 0 !important;
    border-width: 0 !important;
    
  }
  .btn-primary, .select-string, .record-button {
    border: none;
    border-color:none  }

  .btn-secondary{
    background-color: #23395B !important;
    border-color: #23395B
    
  }

  .record-button{
    margin-bottom: 10px !important;
  }


  .playback{

    margin:20px;
    padding-top: 10px;
  }

  .return-message{
    position:relative
  }
  
