svg {
    border: 3px solid #eee;
    display: block;
    margin: 1em auto;
  }
  p {
    color: #aaa;
    text-align: center;
    margin: 2em 0;
  }


  .flex-col-container{
    display: flex;
    align-items: center;
  }
  .row_visualisation{
      flex:0.2
  }
  .col_visualisation{
    flex-direction: column;
}

  svg{
    flex: 0.6 
  }
  